@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CodeMechanic.Types
@model Pocketbase
@{
    int limit = 1000;
    var rows = @Model.Todos;
    var distinct_labels = rows
        .SelectMany(row => row.labels)
        .Distinct()
        .ToList();
}

<div id="todos_table" class="flex flex-col justify-center items-center text-sm text-info gap-10">

    <div x-show="true" class="flex flex-row gap-6">
        <div class="indicator">
            <span class="indicator-item indicator-bottom badge badge-sm badge-secondary">@rows.Count</span>
            <h2 class="text-accent text-lg">Tasks</h2>
        </div>
        <div class="indicator">
            <span class="indicator-item indicator-bottom badge badge-sm badge-secondary">@distinct_labels.Count</span>
            <h2 class="text-accent text-lg">Labels</h2>
        </div>
    </div>

    <div class="grid grid-rows-4 grid-cols-5">

        @foreach (var batch in @distinct_labels.Batch(10))
        {
            @foreach (var row in rows)
            {
                <span class="badge badge-danger">@row.priority</span>
            }
        }
    </div>

</div>
<div class="overflow-x-auto wrapper">

    <div class="form-control">
        <input
            hx-get="@Url.Page("Pocketbase", "SortedTreadmill")"
            hx-target="#todos_table"
            asp-for="Query"
            hx-trigger="keyup changed delay:250ms"
            type="email" placeholder="Search tasks"
            class="input input-bordered bg-transparent" required/>
    </div>

    <table class="table w-full">
        <thead>
        <tr>
            <th></th>
            <th>Task</th>
            <th>
                <span>Priority /</span>
                <br/>
                <span>Labels</span>
            </th>
            @* <th>Details</th> *@
            @* <th>Completed</th> *@
            <th>Age</th>
        </tr>
        </thead>
        <partial name="_TodoistRows" model="@rows"/>
        @* </tbody> *@
    </table>
</div>