@model List<Todo>
@{
    var rows = @Model;
    // int p1_count = ;
}

@foreach (var row in rows)
{
    int priority_count = rows.Count(todo => todo.priority == @row.priority);

    <tr x-data="{show_details: false}">
        <th>
            <label>
                <input
                    hx-get="@Url.Page("Pocketbase", "CompleteTodo", new { id = @row.id, partial_name = "_TodoistTreadmill" })"
                    type="checkbox" class="checkbox"/>
            </label>
        </th>
        <td>
            <div class="flex items-center gap-3 border-2 border-blue-500">

                <div class="tooltip" data-tip="Visit">
                    <a target="_blank" href="@row.uri">
                        <div class="font-bold text-secondary h-32">@row.content.Trim()</div>
                    </a>
                </div>
            </div>
        </td>
        <td>
            <div class="flex flex-col justify-center">
                <a target="_" :href="my_github">
                    <button class="btn btn-neutral btn-sm">
                        <div class="text-@row.priority_css flex flex-row items-center gap-2 ">
                            <span>
                                P@(row.priority)
                            </span>
                            <div class="badge badge-secondary">@(priority_count > 99 ? $"{priority_count}+" : priority_count)</div>
                        </div>
                    </button>
                </a>
                @* <label class="text-@row.priority_css "> *@
                @*     Priority: *@
                @*     <span class="badge badge-secondary">@row.priority</span> *@
                @* </label> *@
                <div>
                    @foreach (var label in @row.labels)
                    {
                        <span class="badge badge-secondary badge-sm lg:badge-lg">@label</span>
                    }
                </div>
            </div>
        </td>

        <td>

            <button
                :disabled="true"
                hx-trigger="click"
                hx-get="@Url.Page("Pocketbase", "Update")"
                class="btn btn-secondary">
                Edit
            </button>
        </td>

        @* <td> *@
        @*     <div class="flex flex-col gap-1 justify-center"> *@
        @* *@
        @*         @Math.Round(@row.Age, 0) *@
        @*         <label for="">Friendly stuff</label> *@
        @*         <p> created on: @row.created_at</p> *@
        @*         <p> due: @row?.due?.date </p> *@
        @* *@
        @*         <p> due: @row?.due?.humanized on @row?.due?.friendly_date *@
        @*         <p> age: @row?.due?.humanized_age </p> *@
        @*     </div> *@
        @* </td> *@


    </tr>
}

<style>
    
    .truncate {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
      
</style>