@model HydroSearch

<div class="form-control">

    @* <div> *@
    @*     Count: <strong>@Model.Count</strong> *@
    @*     <button hydro-on:click="@(() => Model.Add())"> *@
    @*         Add *@
    @*     </button> *@
    @* </div> *@


    @* <input type="text" hydro-on:keyup.shift.enter="@(() => Model.Save())"> *@

    <input
        hx-get="@Url.Page(@Model.PageName, @Model.PageHandler, new { partial_name = @Model.PartialName })"
        hx-target="@Model.HxTarget"
        asp-for="Query"
        hx-trigger="keyup changed delay:250ms"
        type="@Model.InputType"
        placeholder="@Model.Placeholder"
        class="input input-bordered bg-transparent" required/>
</div>